#countdown-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
} 

#eta {
    font-size: 4vmax;
}

#countdown {
    font-size: 4vmax;
    letter-spacing: 10px;
    padding: 0;
    margin: auto;
    opacity: 0;
    animation: fadeIn ease 2000ms forwards;
}

#date-timer {
    font-size: 2vmax;
    padding: 0;
    word-spacing: 2vmax;
    opacity: 0;
    text-align: center;
    animation: fadeIn ease 2000ms forwards;
}

@media only screen and (max-width: 1200px) {
    h1#countdown {
        text-align: center;
        font-size: 2vmax;
        margin: 0 10px 0 10px;
    }
}