
section.content-container#index-main-content div{
    /* margin: 5vmax 0 10vmax 0; */
    padding-bottom: 150px;
    background-color: black;
}

h1 {
    margin: 0px;
}

#summary {
    background-color: black;
    width: 100%;
    text-align: center;
}

#summary p{
    margin: 2vmax 2vmax;
}

#index-secondary-content {
    background: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(37,47,63,1) 69%);
}
#index-secondary-content .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10vh;
}
#index-secondary-content h1 {
    translate: 0 20px;
}
#index-secondary-content div p{
    width: 20vmax;
    text-align:left;
    margin: 2vmax 2vmax;
}

#index-secondary-content img {
    display: block;
    margin: auto;
    width: 10vmax;
}

#index-tertiary-content {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0 0 12vmax 0;

    color: black;
    background-color: lightgrey;
}

#index-tertiary-content div{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* translate: 0 -50px; */
}

#index-tertiary-content img {
    max-width: 45.5vw;
}

@media only screen and (max-width: 1200px) {
    /* img#sidus-index {
        width: 39vmax;
    } */
    section.content-container#index-secondary-content div.content{
        display: flex;
        flex-direction: column;
    }

    section.content-container#index-secondary-content .content p{
        width: auto;
    }

}