:root {
    --planets-image-url: url("../../../assets/media/images/planets/moonAndEarth.png");
}

#homepage-content {
    background-image: 
        /* Haze gradient. */
        linear-gradient(180deg, 
        rgba(28, 36, 48, 0.00) 9.13%,
        rgba(13, 16, 22, 0.25) 20.19%, 
        rgba(9, 11, 15, 0.50) 31.25%, 
        rgba(4, 6, 8, 0.75) 41.83%, #000 67.79%),
        var(--planets-image-url);
    background-position: center top 500px; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 50vh;
    margin-bottom: 50vh;
}

section.content-container#index-main-content div{
    padding-bottom: 150px;
    /* background-color: black; */
}

h1 {
    margin: 0px;
}

#summary {
    background-color: black;
    width: 100%;
    text-align: center;
}

#summary p{
    margin: 2vmax 2vmax;
}

#index-secondary-content .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10vh;
    background: rgba(255, 255, 255, 0.05);
    margin-right: 10px;
    margin-left: 10px;
    /* Glass Morphism. */
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 0px 0px rgba(255, 255, 255, 0);
    position: relative;
    overflow: hidden;
}
#index-secondary-content h1 {
    translate: 0 20px;
}
#index-secondary-content div p{
    width: 20vmax;
    text-align:left;
    margin: 2vmax 2vmax;
}

#index-secondary-content img {
    display: block;
    margin: auto;
    width: 10vmax;
}

#index-tertiary-content {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0 0 12vmax 0;

    color: black;
    background-color: lightgrey;
}

#index-tertiary-content div{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* translate: 0 -50px; */
}

#index-tertiary-content img {
    max-width: 45.5vw;
}

@media only screen and (max-width: 1200px) {
    /* img#sidus-index {
        width: 39vmax;
    } */
    section.content-container#index-secondary-content div.content{
        display: flex;
        flex-direction: column;
    }

    section.content-container#index-secondary-content .content p{
        width: auto;
    }

}