
.member-container .blur-load::before {
    border-radius: 10px 10px;
}



.blur-load .member {
    width: 10vmax;
    max-width: 10vmax;
    max-height: 10vmax;
}

#about-main-content, #about-secondary-content{
    padding-bottom: 100px;
}
#about-main-content{
    padding-bottom: 2vmax;
}

.content-container p {
    text-align: center;
    margin: 2vmax;
}

#about-secondary-content {
    padding-top: 1vmax;
    color: black;
    background-color: lightgrey;
}

#about-secondary-content img {
    min-width: 250px;
    width: 10vw;
    max-width: 100%;
    aspect-ratio: 0;
}
.container {
    flex-direction: column;
    align-items: center;
}
#about-tertiary-content {
    padding-top: 1vmax;
}
#about-tertiary-content h2 {
    display: block;
    justify-self: center;
}
img.member {
    max-width: 15vmax;
    background-color: lightgrey;
    filter: drop-shadow(6px 6px 4px black);
    border-radius: 5%;
}

.member-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

}

.member-container div {
    /* padding: 20px; */
    margin: 1.5vmax 1.5vmax 10vmax 1.5vmax;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 10px;
    font-size: small;
}

.member-container a img {
    width: auto;
}


@media only screen and (max-width: 1600px) {
    .member-container {
        flex-wrap: wrap;
    }
    img.member {
        max-width: 18vmax;
    }
}