/* Need major revisions here */
/* :root {
    
} */

video {
  pointer-events: none !important;
  /* background-color: transparent !important; 
   */
  background-color: #ffffff;  
  object-fit: cover; 
}

@keyframes point-down {
    from {
        opacity: 0;
        translate: 0px -3vw;
    }
    to {
        translate: 0px -1.75vw;
    }
}

@keyframes pushUp {
    to {
        opacity: 1;
        translate: 0 -10px;
    }
}

@keyframes fadeIn {
    to {opacity: 1;}
}

@keyframes pulse {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.1);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

img {
    max-width: 12.5vmax;
    min-width: 0.1vmax;
    width: 100%;
    /* aspect-ratio: 1/1; */
    object-position: center;
    object-fit: cover;
}

.blur-load::before {
    content: '';
    position: absolute;
    inset: 0;
    animation: pulse 2.5s infinite;
    width: 100%;
}

.blur-load {
    position: relative;
    background-size: cover;
    background-position: center top;
}

.blur-load > img {
    opacity: 0;
    transition: opacity 750ms ease-in-out;
}

.blur-load.loaded::before {
    content: none;
    animation: none;
}

.blur-load.loaded {
    background-image: none;
}

.blur-load.loaded > img{
    opacity: 1;
}

.adlam-display-regular {
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
}

html {
    height: -webkit-fill-available;
}


body {
    height: -webkit-fill-available;
    color: white;
    /* font-family: "IBM Plex Mono";
     */
     font-family: "ADLaM Display";
    background-color: black;
    width: 100%;
    overflow-x:hidden;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
}

li {
    font-size: 1rem;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.content-container h1 {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

@media only screen and (max-width: 1200px) {

}